# Umami Analytics
NEXT_UMAMI_ID=

# Plausible Analytics  
NEXT_PLAUSIBLE_DOMAIN=

# Simple Analytics
NEXT_SIMPLE_ANALYTICS=

# Google Analytics
NEXT_GOOGLE_ANALYTICS_ID=

# Posthog Analytics
NEXT_POSTHOG_KEY=
NEXT_POSTHOG_HOST=

# Newsletter Provider (mailchimp, buttondown, convertkit, klaviyo, revue, emailoctopus)
NEWSLETTER_PROVIDER=
MAILCHIMP_API_KEY=
MAILCHIMP_API_SERVER=
MAILCHIMP_AUDIENCE_ID=
BUTTONDOWN_API_KEY=
CONVERTKIT_API_KEY=
CONVERTKIT_FORM_ID=
KLAVIYO_API_KEY=
KLAVIYO_LIST_ID=
REVUE_API_KEY=
EMAILOCTOPUS_API_KEY=
EMAILOCTOPUS_LIST_ID=

# Content Security Policy
CSP_ALLOW_LIST=

# GitHub Token (for Giscus comments)
GITHUB_TOKEN=
